<h1>SIMULADOR DE CARGAS</h1>
<a href="http://localhost:3000/empresas">CADASTRO DE EMPRESAS</a>
<br><a href="http://localhost:3000/cargas">CADASTRO DE CARGAS</a>
<br><a href="http://localhost:3000/static_pages/help">AJUDA</a>
